spawn-at-startup "swayidle"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "mako"

environment {
    DISPLAY ":0"
    MOZ_ENABLE_WAYLAND "1"
    MOZ_WAYLAND_USE_VAAPI "1"
    QT_QPA_PLATFORM "wayland"
    GDK_BACKEND "wayland"
}

cursor {
    hide-when-typing
    hide-after-inactive-ms 10000
}

input {
    keyboard {
        xkb {
            layout "gb"
        }
    }

    touchpad {
        tap
        dwt
        natural-scroll
    }

    mouse {
        accel-speed 0.5
        accel-profile "flat"
    }
}

// Laptop
{{- if eq .chezmoi.hostname "framework" }}
output "eDP-1" {
    mode "1920x1200@60.002"
    scale 1.25
    transform "normal"
    position  x=-2160 y=0
}
{{- else }}
output "eDP-1" {
    mode "3840x2400@59.994"
    scale 2
    transform "normal"
    position  x=-2160 y=0
}
{{- end }}

// Projector
output "PNP(XGM) XGIMI TV 0x00000001" {
    mode "2288x1430@61.015"
    scale 1.5
    transform "normal"
}

// 4k Monitor
output "DP-1" {
    mode "3840x2160@60.000"
    scale 1.5
    transform "normal"
    focus-at-startup
}

// Projector
output "DP-1" {
    mode "4096x2160@30.000"
    scale 1.5
    transform "normal"
}

// LG 2k
output "DP-3" {
    mode "2560x1440@143.933"
    scale 1.1
    transform "normal"
    focus-at-startup
}

layout {
    gaps 1
    center-focused-column "never"

    preset-column-widths {
        proportion 0.5
        proportion 1.0
    }

    default-column-width { proportion 1.0; }

    focus-ring {
        on
        width 1

        active-color "#FFFFFF"
        inactive-color "#FFFF00"
    }

    border { off; }
    shadow { off; }
}

prefer-no-csd

screenshot-path "~/Screenshots/Screenshot-from-%Y-%m-%d %H-%M-%S.png"

animations {
    off
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match title="^TimeLordGUI$"
    open-floating true
}

window-rule {
    match app-id="bevy-demo" title="App"
    open-floating true
}

// This targets the Bitwarden extension pop-up.
window-rule {
    match title=r#".*Bitwarden.*"#
    open-floating true
    default-column-width { proportion 0.25; }
    default-window-height { proportion 0.25; }
}
    
window-rule {
    match title="bluetui-popup"

    open-floating true
    default-column-width { fixed 900; }
    default-window-height { fixed 900; }
    default-floating-position x=100 y=100 relative-to="top-right"
}


window-rule {
    match title="popup"

    open-floating true
    default-column-width { proportion 0.75; }
    default-window-height { proportion 0.25; }
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+T { spawn "ghostty"; }
    Mod+D { spawn "fuzzel"; }
    Mod+G { spawn "ghostty" "--title=popup" "--font-size=16"; }
    Super+Alt+L { spawn "hyprlock"; }
    Mod+S { screenshot; }

    Mod+Q { close-window; }

    Mod+J { focus-window-or-workspace-down; }
    Mod+K { focus-window-or-workspace-up; }
    Mod+H { focus-column-left; }
    Mod+L { focus-column-right; }

    Mod+Ctrl+H { focus-monitor-left; }
    Mod+Ctrl+L { focus-monitor-right; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+F { maximize-column; }
    Mod+R { switch-preset-column-width; }

    Mod+Left { set-column-width "-10%"; }
    Mod+Right { set-column-width "+10%"; }

    Mod+Up { set-window-height "-10%"; }
    Mod+Down { set-window-height "+10%"; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+P { power-off-monitors; }
}
